<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="classes">
	<test thread-count="5" name="Test1" parallel="classes">
		<classes>
			<class name="SeleniumTest.TestNG_Demo" />
			<class name="SeleniumTest.TestNG_Demo2">
				<methods>
					<include name="googleSearch3"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test1 -->
</suite> <!-- Suite1 -->
